src/Gens/bios/
src/Gens/Release/
src/Gens/Debug/
src/Starscream/Main68k/Release/
src/Starscream/Main68k/Debug/
src/Starscream/Sub68k/Release/
src/Starscream/Sub68k/Debug/
src/**.suo
src/**.sdf
src/**.opensdf
src/**.ncb
src/**.opt
src/**.plg
src/**.aps
src/**.vcxproj.filters